<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center"> 
        <div class="card-header">
          <h3>Netoffice</h3>
        </div>
        <div class="card-body">
            <img src="/img/2.png" alt="Netoffice" class="card-img-top mx-auto m-2 w-50">
          <form action="/signin" method="POST">
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block">
                SignIn
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>